---
import CommonHead from '@/components/CommonHead.astro';
import CommonBody from '@/components/CommonBody.astro';
import Menu from '@/components/Menu.astro';
import Header from '@/components/Header.astro';
import { Choice } from '@/components/Choice.tsx';
import '../../styles/base.css';
import { InviteState } from '@/components/InviteState.tsx';

const { invite } = Astro.params;

const getStats = async (triviaId: number) => {
  try {
    const res = await fetch(`${import.meta.env.PUBLIC_API_ENDPOINT}/api/trivia/${triviaId}/stats`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    return await res.json();
  } catch (e) {
    return null;
  }
};

const getQuestion = async () => {
  try {
    const res = await fetch(`${import.meta.env.PUBLIC_API_ENDPOINT}/api/trivia/${invite}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    return await res.json();
  } catch (e) {
    return [];
  }
};
const getAnswers = async () => {
  try {
    const res = await fetch(`${import.meta.env.PUBLIC_API_ENDPOINT}/api/trivia/${invite}/history`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    return await res.json();
  } catch (e) {
    return [];
  }
};
let question: any[] = [];
let stats: any[] = [];
let answers: any[] = [];
let answeredStats: any[] = [];
try {
  question = await getQuestion();
  stats = await getStats(question.at(0)?.trivia_id ?? 1);
  answers = await getAnswers();
  answeredStats = await Promise.all(answers.map((v: any) => getStats(Number(v.trivia_id))));
} catch (e) {
  console.error(e);
}
---

<html lang="en" class="bg-paper">
  <head>
    <CommonHead />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <Menu />
    <InviteState client:only invite={`${invite}`} />
    <div class="mb-24 flex flex-col mt-10 gap-5">
      <h1 class="text-7xl font-bold text-center tracking-wide p-5 font-serif">Bride or Groom?</h1>
      <div class="flex justify-center">
        {
          question.length === 0 && (
            <div>
              <h1 class="text-xl tracking-wider font-bold text-center uppercase">Nice job!</h1>
              <h1 class="text-base text-center">You have answered all the questions.</h1>
            </div>
          )
        }
        {
          question.map(q => {
            return (
              <div class="relative  w-full  max-w-3xl mb-7">
                <div class="px-4 py-5 bg-white shadow-lg sm:rounded-lg sm:p-6">
                  <div class="flex flex-row pb-5">
                    <h3 class="basis-1/4 text-base text-start font-semibold leading-6 text-gray-900">
                      Q{q.trivia_id}:
                    </h3>
                    <h3 class="basis-1/2 text-center text-2xl uppercase tracking-widest font-semibold leading-6 text-gray-900">
                      {q.question}?
                    </h3>
                  </div>
                  <div class="mt-2 w-full justify-around text-sm flex flex-row text-gray-500">
                    <div class="mt-2 w-full justify-around text-sm flex flex-row text-gray-500">
                      <div class=" flex w-full flex-row justify-center gap-10 -bottom-7 h-14 items-center ">
                        {Array.isArray(q?.choices) && q.choices.length > 0 && (
                          <Choice
                            triviaId={q.trivia_id}
                            inviteId={invite ?? ''}
                            choices={q?.choices ?? []}
                            client:only
                          />
                        )}
                      </div>
                    </div>
                  </div>
                  <div class="w-full py-5 flex justify-center">
                    <span>{stats?.percentage_correct ?? 0}% of participants answered this one correctly.</span>
                  </div>
                  <div />
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="flex flex-col justify-center items-center gap-5">
        {
          answers.map(answer => {
            return (
              <div class="bg-white shadow sm:rounded-lg w-full p-5 max-w-xl">
                <div class="flex items-center justify-between flex-row px-4 py-5 sm:p-6">
                  <div>
                    <h3 class="text-base font-semibold leading-6 text-gray-900">
                      Q{answer.trivia_id}: {answer.question}?
                    </h3>
                    <div class="mt-2 w-full justify-around text-sm flex flex-row text-gray-500">
                      <div class="mt-2 w-full justify-between text-sm flex flex-col text-gray-500">
                        <span>
                          You {answer.is_answer ? 'correctly' : 'incorrectly'} answered: {answer?.choice}
                        </span>
                        <span>
                          {answeredStats.find(v => v.trivia_id === answer.trivia_id)?.percentage_correct ?? 0}% of
                          participants answered this one correctly.
                        </span>
                      </div>
                    </div>
                  </div>
                  {answer.is_answer ? <span>✅</span> : <span>❌</span>}
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </CommonBody>
</html>
