---
const { invite } = Astro.params;
import '../../styles/base.css';
import CommonHead from '@/components/CommonHead.astro';
import CommonBody from '@/components/CommonBody.astro';
import Header from '@/components/Header.astro';
import Menu from '@/components/Menu.astro';
import { RsvpForm } from '@/components/RsvpForm.tsx';
const getInvite = async () => {
  const res = await fetch(`${import.meta.env.PUBLIC_API_ENDPOINT}/api/invite/${invite}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  });
  return await res.json();
};
const getRsvp = async () => {
  const res = await fetch(`${import.meta.env.PUBLIC_API_ENDPOINT}/api/rsvp/${invite}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  });
  return await res.json();
};
let inviteData = [];
let rsvpData = [];
try {
  inviteData = await getInvite();
  rsvpData = await getRsvp();
  if (inviteData.length === 0) {
    return Astro.redirect('/invite?error=1');
  }
} catch (e) {
  return Astro.redirect('/invite?error=1');
}
if (inviteData.length === 0) {
  return Astro.redirect('/invite?error=1');
}
---

<html lang="en" class="bg-paper h-screen">
  <head>
    <meta charset="utf-8" />
    <CommonHead />
    <script>
      const storedValue = localStorage.getItem('inviteId');
      console.log({ storedValue });
      const invEl = document.getElementById('invite-menu-href') as HTMLAnchorElement;
      if (invEl) {
        invEl.href = `/invite${typeof storedValue === 'string' ? '/' + storedValue : ''}`;
      }
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <Header />
    <Menu />
    <main class="flex mt-10 flex-col items-center w-full h-auto my-0">
      <RsvpForm inviteData={inviteData.at(0)} guestData={rsvpData} client:only transition:persist />
      <span class="hidden" id="inviteId">{invite}</span>
    </main>
  </CommonBody>
</html>
